
img,p,h1,h2,.divider{
    width: 100%;
    max-width: 675px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    padding: 30px 0px ;
}

a {
    color:#f0c419;
}

p{
    font-size: 18px;
    line-height: 1.7;
    font-family: "Libre Franklin";
}

h2{
    font-family: "Libre Franklin";
    font-size: 24px; /* Adjust size as needed */
    font-weight: bold; /* Make it bold */
}

#topChart {
    width: 100%;
    max-width: 675px;
}

#meghaChart {
    width: 100%;
    max-width: 900px;
}

#futureChart {
    width: 100%;
    max-width: 675px;
}

#circleChart {
    width: 100%;
    max-width: 600px;
}

body {
    background-color: #f6f6f6; /* Add this line */
}